body {
    background: #00F260;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
}

.navbar {
    background: #00F260;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}


.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clock {
    position: relative;
    font-size: 80px;
    font-family: digital;
    padding: 100px;
    text-shadow: #0077b5;
    color: #D8E2DC;
}

#day {
    position: absolute;
    font-size: 50px;
    font-family: digital;
    text-shadow: #0077b5;
    color: #D8E2DC;
    margin-top: 100px;;
}

#msg {
    position: absolute;
    font-size: 40px;
    font-family: digital;
    text-shadow: #0077b5;
    color: #D8E2DC;
    margin-top: 170px;;
}

/* Clock Styling*/
 @font-face {
    font-family: digital;
    src: url(digital.ttf);
}




.field{
	/* using flexbox allows for the input field and the button line to line up together in a row */
	display: flex;
	position: relative;
	margin: 5em auto;
	width: 50%;
    flex-direction: row;
    border-radius: 25px;
	
/* these box shadows (with no blur values) give the field div the 3D effect */
}

.field>input[type=text]{
	flex: 1; /* setting the flex value to 1 means that this element will be the first in the row, regardless of its order in the HTML markup of the .field div */
	padding: 0.6em;
	border: 0.2em solid #0575E6;
    font-style: italic;
    font-family: 'Lucida Sans';
    font-size: 16px;
    border-radius: 25px;
    background: #D8E2DC;  /* fallback for old browsers */
    
}

.field>button{
    margin-left: 5px;
	padding: 0.6em 0.8em;
	background-color: #00F260;
	color: #D8E2DC;
	border: 0.2em solid #0575E6;
	font-size: 20px;
	font-weight: bold;
    cursor: pointer;
    border-radius: 50px;
}

.field>input[type=text]:focus, .field>button{
	outline: none;
}


#github {
    font-size: 30px;
    padding-left: 20px;
    padding-right: 10px;
}

#game {
    font-size: 30px;
    padding-left: 20px;
    padding-right: 10px;
}

.fa-github {
    color: #D8E2DC;  
}

.fa-gamepad {
    color: #D8E2DC;  
}

a:hover {
    color: #4285F4;
    text-shadow: 0 0 15px #4285F4;
    transition: all 0.5s ease;
}